$sans: 'Open Sans',
sans-serif;
$fat: 'Abril Fatface',
cursive;
$c1: #d6c6b2;
$grey: #cccccc;
$pd: 70px 0;


// common css start
body {
    font-family: $sans;
    font-size: 32px;
}


.hed {
    font-family: $fat;
    font-size: 32px;
    color: $c1;
}



// common css end



// <!-- header start -->
header {
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-color: #040309;

    //     <!-- nav start -->
    nav {
        .navbar-brand {
            padding-top: 10px;
        }

        ul {
            li {
                margin-top: -58px;
                margin-left: 32px;

                a {
                    color: #ffffff !important;
                    font-size: 20px;
                    line-height: 24px;
                    font-family: $sans;
                    font-weight: 600;
                    // padding: 0 !important;
                    padding-top: 66px !important;
                    transition: .3s;

                    &:hover {
                        background-color: #d6c6b2;
                        color: #222222 !important;
                    }
                }
            }
        }
    }

    //     <!-- nav end -->

    //     <!-- banner start -->
    .banner {
        padding-top: 30px;
        padding-bottom: 60px;

        .banner-content {
            text-align: right;
            font-family: $fat;
            color: #ffffff;

            p {
                font-size: 20px;
                line-height: 24px;
            }

            h1 {
                font-size: 102px;
                line-height: 24px;
                text-transform: uppercase;
                margin-top: 40px;
                margin-bottom: 68px;
            }

            h2 {
                font-size: 85px;
                line-height: 24px;
                margin-bottom: 50px;
            }

            button {
                font-size: 16px;
                line-height: 24px;
                color: #d6c6b2;
                font-family: $sans;
                font-weight: 600;
                background: transparent;
                border: 1px solid #d6c6b2;
                padding: 9px 20px;
                text-transform: uppercase;
                margin-left: 15px;
                transition: .3s;

                &:hover {
                    color: #222222;
                    background-color: #d6c6b2;
                }
            }

        }
    }

    //     <!-- banner end -->
}

// <!-- header end -->

// <!-- about start -->
.about {
    padding: $pd;
    background-color: #222222;
    ;

    .about-content {
        h1 {
            margin-bottom: 50px;

        }

        p {
            font-size: 14px;
            line-height: 24px;
            color: #ffffff;
            margin-bottom: 35px;
        }

        h2 {
            margin-top: 15px;
            font-size: 24px;
            line-height: 24px;
            color: #d6c6b2;
            font-family: $fat;
        }

        ul {
            margin-top: 35px;

            li {
                a {
                    img {
                        &:hover {
                            // border: 1px solid white;
                            // padding: 15px;
                            // color: #ffffff;
                            border-radius: 50%;
                            background-color: #d6c6b2;
                            // filter: grayscale(100%);
                        }
                    }
                }
            }
        }
    }
}

// <!-- about end -->

// <!-- services start -->
.services {
    padding: $pd;
    background-image: radial-gradient(circle at center, #303139 0%, #151515 100%);
    text-align: center;


    .services-content {
        margin-top: 50px;
        img {}

        h2 {
            font-size: 20px;
            line-height: 24px;
            color: #ffffff;
            font-weight: 600;
            margin-top: 30px;
            margin-bottom: 25px;
        }

        p {
            font-size: 14px;
            line-height: 24px;
            color: #cccccc;
            font-weight: 600;
            text-align: justify;
        }
    }
}

// <!-- services end -->

// <!-- portfolio start -->
.portfolio {}

// <!-- portfolio end -->

// <!-- testimonial start -->
.testimonial {}

// <!-- testimonial end -->

// <!-- pricing start -->
.pricing {}

// <!-- pricing end -->


// <!-- blog start -->
.blog {}

// <!-- blog end -->


// <!-- contact start -->
.contact {}

// <!-- contact end -->



// footer start
footer {}

// footer end