


// common css start
body {
    font-family: $sans;
    font-size: 32px;
}


.hed {
    font-family: $fat;
    font-size: 32px;
    color: $c1;
}



// common css end



// <!-- header start -->
header {
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-color: #040309;

    //     <!-- nav start -->
    nav {
        .navbar-brand {
            padding-top: 10px;
        }

        ul {
            li {
                margin-top: -58px;
                margin-left: 32px;

                a {
                    color: #ffffff !important;
                    font-size: 20px;
                    line-height: 24px;
                    font-family: $sans;
                    font-weight: 600;
                    // padding: 0 !important;
                    padding-top: 66px !important;
                    transition: .3s;

                    &:hover {
                        background-color: $c1;
                        color: #222222 !important;
                    }
                }
            }
        }
    }

    //     <!-- nav end -->

    //     <!-- banner start -->
    .banner {
        padding-top: 30px;
        padding-bottom: 60px;

        .banner-content {
            text-align: right;
            font-family: $fat;
            color: #ffffff;

            p {
                font-size: 20px;
                line-height: 24px;
            }

            h1 {
                font-size: 102px;
                line-height: 24px;
                text-transform: uppercase;
                margin-top: 40px;
                margin-bottom: 68px;
            }

            h2 {
                font-size: 85px;
                line-height: 24px;
                margin-bottom: 50px;
            }

            button {
                font-size: 16px;
                line-height: 24px;
                color: $c1;
                font-family: $sans;
                font-weight: 600;
                background: transparent;
                border: 1px solid $c1;
                padding: 9px 20px;
                text-transform: uppercase;
                margin-left: 15px;
                transition: .3s;

                &:hover {
                    color: #222222;
                    background-color: $c1;
                }
            }

        }
    }

    //     <!-- banner end -->
}

// <!-- header end -->

// <!-- about start -->
.about {
    padding: $pd;
    background-color: #222222;
    ;

    .about-content {
        h1 {
            margin-bottom: 50px;

        }

        p {
            font-size: 14px;
            line-height: 24px;
            color: #ffffff;
            margin-bottom: 35px;
        }

        h2 {
            margin-top: 15px;
            font-size: 24px;
            line-height: 24px;
            color: $c1;
            font-family: $fat;
        }

        ul {
            margin-top: 35px;

            li {
                a {
                    img {
                        &:hover {
                            // border: 1px solid white;
                            // padding: 15px;
                            // color: #ffffff;
                            border-radius: 50%;
                            background-color: $c1;
                            // filter: grayscale(100%);
                        }
                    }
                }
            }
        }
    }
}

// <!-- about end -->

// <!-- services start -->
.services {
    padding: $pd;
    background-image: radial-gradient(circle at center, #303139 0%, #151515 100%);
    text-align: center;


    .services-content {
        margin-top: 70px;

        // img {}

        h2 {
            font-size: 20px;
            line-height: 24px;
            color: #ffffff;
            font-weight: 600;
            margin-top: 30px;
            margin-bottom: 25px;
        }

        p {
            font-size: 14px;
            line-height: 24px;
            color: $grey;
            font-weight: 600;
            text-align: justify;
        }
    }
}

// <!-- services end -->

// <!-- portfolio start -->
.portfolio {
    padding: $pd;
    background-color: #282828;

    .portfolio-content {
        position: relative;

        &:hover {
            .overlay {
                visibility: visible;
                height: 100%;
            }
        }

        .overlay {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top: 0;
            background-color: $c1;
            width: 100%;
            transition: .3s;
            height: 0%;
            visibility: hidden;

            a {
                font-size: 20px;
                color: #ffffff;
                border-radius: 50%;
                background-color: #444444;
                padding: 10px;
            }


            .text {
                position: absolute;
                bottom: 14px;
                left: 28%;
                font-weight: 600;
                color: #222222;
                line-height: 24px;
                text-align: center;

                p {
                    font-size: 20px;
                }

                span {
                    font-size: 16px;
                }
            }
        }
    }

    .port-menu {
        h2 {
            font-size: 32px;
            line-height: 24px;
            color: $c1;
            font-family: $fat;
            display: block;
            margin-bottom: 60px;
            margin-top: 10px;
            text-decoration: none;
        }

        ul {
            li {
                margin: 20px 0;

                a {
                    font-size: 20px;
                    color: #ffffff;
                    text-decoration: none;
                    font-family: $sans;
                    font-weight: 600;

                    &:hover {
                        color: $c1;
                        margin-left: 20px;
                    }
                }
            }
        }
    }
}

// <!-- portfolio end -->

// <!-- testimonial start -->
.testimonial {
    padding: $pd;
    background-image: url(../images/tb.jpg);
    // background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;


    .testimonial-content {
        margin-top: 60px;
        line-height: 24px;
        color: #ffffff;
        font-size: 16px;
        text-align: justify;

        h2 {
            font-size: 20px;
            font-weight: 700;
        }

        h4 {
            margin-top: 1px;
            margin-bottom: 2px;
        }

        // ul {
        //     li {
        //         font-size: 16px;
        //     }
        // }

        p {
            margin-top: 18px;
            // font-size: 16px;
            line-height: 20px;
            // color: #ffffff;
            // font-family: "Myriad Pro";
        }
    }
}

// <!-- testimonial end -->

// <!-- pricing start -->
.pricing {
    padding: $pd;
    background-color: #282828;

    .card-content {
        margin-top: 60px;

        .chead {
            font-size: 20px;
            color: #222222;
            font-weight: 700;
            background-color: $c1;
        }

        .card {

            
            .premium {
                background-color: $c1 !important;
                color: #222222 !important;

                button {
                    color: #222222 !important;
                    border: none !important;
                    box-shadow: 0 0 7px 0.1px black;

                    // &:hover {}
                }
            }

            .card-body {
                background-color: #333333;
                text-align: center;
                color: #ffffff;


                img {
                    display: block;
                    margin: 0 auto;
                }

                h1 {
                    margin-top: 8px;
                    font-size: 24px;
                    // line-height: 40px;
                    font-weight: 700;

                    span {
                        font-size: 60px;
                    }
                }

                hr {
                    width: 75%;
                    height: .5px;
                    background-color: $c1;
                }

                ul {
                    li {
                        font-size: 14px;
                        line-height: 40px;
                    }
                }

                button {
                    margin-top: 10px;
                    border: 1px solid white;
                    background: transparent;
                    font-size: 16px;
                    font-weight: 700;
                    padding: 12px 20px;
                    transition: .3s;
                    color: #ffffff;

                    &:hover {
                        border-color: $c1;
                        background-color: $c1;
                        color: #222222;
                    }
                }
            }
        }
    }
}

// <!-- pricing end -->


// <!-- blog start -->
.blog {

    .hov {
        &:hover {

            .blog-image {
                .overlay {
                    z-index: 10;
                    height: 100%;
                }
            }

            .blog-description-head {
                h1 {
                    color: $c1;
                }
            }

            .blog-description-footer {
                a {
                    color: $c1;
                }
            }

        }
    }

    padding: $pd;
    background-color: #333333;

    .blog-image {
        z-index: 1;
        position: relative;

        img {
            width: 100%;
        }

        .overlay {
            padding: 30px 11px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 0%;
            background-color: #d6c6b2bd;
            z-index: -1;
            transition: .3s;

            ul {
                li {
                    text-align: right;
                    font-size: 24px;
                    color: #ffffff;
                    font-weight: 600;
                }
            }
        }
    }

    .blog-description-top {
        background-color: #282828;
        padding: 25px;


        p {
            font-size: 14px !important;
            color: #999999;
        }

        ul {
            margin-top: -17px;
            text-align: right;

            li {
                font-size: 14px !important;
                color: #999999;
            }
        }
    }

    .blog-description-head {
        margin-bottom: 10px;

        h1 {
            margin: 28px 0;
            font-size: 20px;
            line-height: 30px;
            color: #ffffff;
            font-weight: 600;

        }

        p {
            font-size: 14px;
            line-height: 24px;
            color: $grey;
            margin-bottom: 10px;
        }
    }

    .blog-description-footer {
        a {
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
            font-weight: 600;
            text-decoration: none;

            svg {
                padding-top: 1px;
                margin: 0 5px;
            }
        }
    }

    .right-blog {
        img {
            height: 100%;
        }

        .right-blog-description {
            background-color: $c1;
            padding: 25px;


            p {
                font-size: 14px !important;
                color: #666666;
            }

            ul {
                margin-top: -17px;
                text-align: right;

                li {
                    font-size: 14px !important;
                    color: #666666;
                }
            }

            .blog-description-title {
                text-align: center;

                h1 {
                    margin-top: 35px;
                    margin-bottom: 30px;
                    font-size: 20px;
                    line-height: 30px;
                    color: #222222;
                    font-weight: 600;
                }

                p {
                    font-size: 14px;
                    line-height: 24px;
                    color: #444444;
                }
            }

            .blog-description-footer {
                margin-top: 6px;

                a {
                    color: #222222;
                    text-decoration: none;
                }
            }
        }
    }

    .blog-button {
        text-align: center;
        margin-top: 60px;

        button {
            text-transform: uppercase;
            background-color: $c1;
            color: #222222;
            font-weight: 600;
            font-size: 16px;
            padding: 15px 20px;
            transition: .3s;

            &:hover {
                background-color: #222222;
                color: $c1;
            }
        }
    }

}

// <!-- blog end -->


// <!-- contact start -->
.contact {
    padding: $pd;
    background-color: #282828;

    .contact-touch {

        h2 {
            font-size: 20px;
            line-height: 24px;
            color: #ffffff;
            font-family: $fat;
            margin-bottom: 30px;
        }



        >a {
            font-size: 18px;
            margin-bottom: 20px;
            color: $grey;
            display: block;
            transition: .3s;
            text-decoration: none;

            &:nth-child(4n) {
                margin-bottom: 60px;
            }

            &:hover {
                color: $c1;
            }
        }

        .touch-social {
            ul {
                margin-left: -20px;

                li {
                    a {
                        font-size: 20px;
                        line-height: 24px;
                        color: #ffffff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 50px;
                        height: 50px;
                        border-radius: 25px;
                        transition: .3s;

                        &:hover {
                            background-color: $c1;
                        }

                    }
                }
            }
        }
    }

    .contact-form {
        padding: 30px;
        background-color: #333333;

        h2 {
            // @extend .contact-touch;
            font-size: 20px;
            line-height: 24px;
            color: #ffffff;
            font-weight: 600;
            margin-bottom: 30px;
        }

        input {
            width: 100%;
            border: 1px solid #666666;
            background-color: transparent;
            font-size: 14px;
            color: #666666;
            font-style: italic;
            padding: 10px;

            &:focus {
                border-color: $c1;
            }

        }


        textarea {
            position: relative;
            @extend input;
            height: 126px;
        }

        .icon {
            position: absolute;
            bottom: 5px;
            right: 16px;
            width: 0;
            height: 0;
            border-bottom: 60px solid $c1;
            border-left: 60px solid transparent;

            &:hover{
                cursor: pointer;
            }


            svg {
                position: absolute;
                top: 28px;
                right: 8px;
                font-size: 27px;
            }
        }

    }

}

// <!-- contact end -->



// footer start
footer {
    padding: 20px;
    background-color: #333333;
    text-align: center;

    p {
        font-size: 14px;
        line-height: 24px;
        color: $grey;

        a{
            color: $c1;
        }
    }
}

// footer end